body{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    background-position: center center;
    background-attachment: fixed;
}
.background{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url("img/inner-background.jpg");
    margin: 70px auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.calc{
    padding: 2%;
    width: 300px;
    height: 475px;
    background-color: gainsboro;
    position: relative;
    top: 10%;
    left: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 5px 20px 0 rgba(0,0,0,0.8);
}
.calc input{
    text-align: right;
	height: 20px;
    background-color: transparent;
    padding-top: 20px;
}
.calc #history:focus{
    outline: none;
}
.calc #result:focus{
    border-color: navy;
}
.calc #history{
    font-size: 17px;
    color: #919191;
    border: none;
}
.calc #result{
	height: 30px;
    font-size: 35px;
    font-family: cursive;
    font-weight: bold;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}
.calc button{
    width: 55px;
    height: 55px;
	margin: 7px;
    float: left;
	border-width: 0;
	font-weight: bold;
    font-size: 20px;
    border-radius: 10%;
    cursor: pointer;
}
.calc button:focus{
    outline: 0;
}
.calc button:active{
    font-size: 15px;
}
.calc .equals{
    height: 127px;
}
.calc .zero{
    width: 127px;
}
.calc .nums{
    background-color: rgba(232, 63, 99,0.8);
}
.calc .opr{
    background-color: rgba(20, 170, 178,0.8);

}
.calc .equals, .calc .zero{
    background-color: rgba(232, 175, 149,0.8);
}

@media (max-width:680px){
    .calc{
        margin: auto;
        left: 0px;
    }
}